@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;font-weight:normal;}
fieldset,img{border:none;}
img{vertical-align: middle;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
input{padding-top:0;padding-bottom:0;}
input::-moz-focus-inner{border:none;padding:0;}
select,input{vertical-align:middle;}
select,input,textarea{font-size:12px;margin:0;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
textarea{resize:none;}
table{border-collapse:collapse;}
body{font: 15px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Arial","SimSun","\5B8B\4F53"; color: #666;}
a{color:#000; text-decoration:none;}
a:visited{color:#000;}
a:hover{color:#be0900;}
a:focus{outline:none;}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}