/*body{background: url(../images/background.jpg) no-repeat;background-position:center top}*/
body{background: url(../images/蓝色背景-009.gif) repeat;}
<style>
  @charset "utf-8";
  html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;font-weight:normal;}
  fieldset,img{border:none;}
  img{vertical-align:top;}
  address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
  ul,ol{list-style:none;}
  input{padding-top:0;padding-bottom:0;}
  input::-moz-focus-inner{border:none;padding:0;}
  select,input{vertical-align:middle;}
  select,input,textarea{font-size:12px;margin:0;}
  input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
  textarea{resize:none;}
  table{border-collapse:collapse;}
  body{font: 15px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Arial","SimSun","\5B8B\4F53"; color: #666;}
  a{color:#333; text-decoration:none;}
  a:visited{color:#333;}
  a:hover{color:papayawhip;}
  a:focus{outline:none;}
  .clearfix{zoom:1;}
  .clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
  .banner{background: url(../images/kidsbanner.jpg) no-repeat top center;}

  .header, .banner, .footer{
    width: 100%;
  }
  .header{
    height: 3px;
    background-color: brown;
    overflow: hidden;
  }
  .banner{
    height: 650px;
  }
  .stick{
    margin-top: 680px;
  }
  .content{
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .cont-left{
    width: 699px;
    float: left;
    border-right: solid 1px #ccc;
  }
  .cl-items{
    width: 100%; height: 200px;
    margin: 0 0 20px 0;
  }
  .cli-pic{
    float: left;
    width: 250px; height: 200px;
    overflow: hidden;
    background-color: gray;
  }
  .cli-pic img{
    width: 100%; height: 100%;
  }
  .cli-text{
    overflow: hidden;
    padding-left: 20px;
  }
  h2.cli-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .cli-text p{
    line-height: 24px;
  }
  .cont-right{
    overflow: hidden;
    padding-left: 20px;
  }
  .cr-items{
    width: 300px; height: 350px;
    overflow: hidden;
    background-color: yellow;
    margin: 0 0 20px 0;
  }
  .cr-items img{
    width: 100%; height: 100%;
  }


  </style>